<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost\bookshop:1433;databaseName=BookShopJ2eeDb</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">123456</property>
    <mapping resource="entity/OrderDetail.hbm.xml"/>
    <mapping resource="entity/Publisher.hbm.xml"/>
    <mapping resource="entity/OrderHistory.hbm.xml"/>
    <mapping resource="entity/Category.hbm.xml"/>
    <mapping resource="entity/Book.hbm.xml"/>
    <mapping resource="entity/User.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
